@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
h1 {
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 24px;
}
h2 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 24px;
}
h3 {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 24px;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
  color: hsla(222, 43%, 9%, 0.7);
}
p {
  font-weight: 400;
  font-size: 16px;
  color: #0d1321;
  line-height: 26px;
}
button {
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  font-size: 20px;
}
.btn-primary {
  border: 1px solid #0d1321;
  border-radius: 8px;
  padding: 15px 25px;
  color: #0d1321;
}
.btn-second {
  color: white;
  background-color: black;
  padding: 20px 25px;
  margin-top: 32px;
}
header {
  margin-bottom: 75px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 150px;
}
.hero {
  height: 650px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 220px;
  text-align: center;
  background-image: url(./assets/hero-bg.png);
}
/*  */
.first-main-content {
  background-color: hsla(222, 43%, 9%, 0.025);
  margin: 75px 150px 90px;
}
.sec-main-content {
  margin: 75px 150px 90px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  gap: 40px; */
}
.third-main-content {
  margin: 75px 150px 90px;
}
.main-content-inner {
  padding: 80px 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.first-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 47px 48px 47px;
}
.inner-content {
  padding: 48px;
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.25));
}
.inner-content-sec {
  background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0.25));
}
.content {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}
.content-one {
  width: 60%;
  text-align: left;
}
.button {
  font-size: 20px;
  border: 1px solid #0d1321;
  padding: 12px 20px;
  background-color: white;
  margin-top: 32px;
}
.video {
  border: 1px solid rgba(13, 19, 33, 0.2);
  text-align: center;
  border-radius: 16px;
}
iframe {
  overflow: hidden;
  padding: 32px;
  height: 615px;
}
.card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.cards {
  width: 365px;
  height: 325px;
  padding: 40px;
  border-radius: 16px;
}
.card1 {
  background-color: hsla(12, 100%, 56%, 0.05);
}
.card2 {
  background-color: hsla(220, 100%, 45%, 0.05);
}
.card3 {
  background-color: hsla(52, 100%, 50%, 0.05);
}
.last-btn {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: underline;
  margin-left: -5px;
  margin-top: 25px;
}
